:root {
  --bg-color-primary: #adc3ce;
  --bg-color-primary-dark: #9baeb8;
  --bg-color-secondary: #aac4cd;
  --bg-new-list: #b7ccd4;
}

.nav-bar {
  background-color: var(--bg-color-primary);
}

.sidebar__icon {
  width: 32px;
  height: 32px;
  background-color: #c4589b;
  display: grid;
  place-content: center;
  color: white;
  border-radius: 0.25rem;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-nav-bar {
  background-color: var(--bg-color-secondary);
  font-size: 14px;
}

.side-bar .nav-link.active {
  background-color: #879ba5;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.new-list-container {
  width: 260px;
}

.new-list {
  background-color: var(--bg-new-list);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    background: var(--bg-new-list);
    filter: brightness(0.9);
  }
}

.list-card {
  font-size: 12px;
  cursor: grab;
  /* grid-column: span 5; */

  & h6 {
    max-width: 60%;
  }
}

.list-card--closed {
  grid-column: span 1;
  max-width: fit-content;

  & header {
    padding: 0;
    padding-bottom: 10px;
    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;

      & h6 {
        max-width: unset;
        order: 1;
        margin-block: 1rem;
        transform: rotate(90deg);
      }
    }
  }
}

.dragging {
  opacity: 0.75;
}

/* .drop-area {
  height: 0;
  font-size: 0;
  transition:
    height 0.3s ease,
    opacity 0.2s ease-in-out,
    font-size 0.3s ease;
  padding: 1rem;
  border-width: 0.15rem;
  border-style: dashed;
  border-color: gray;
  opacity: 0;
  &.active {
    height: calc-size(max-content, size);
    font-size: 14px;
    opacity: 1;
  }
} */
