:root {
  --bg-color-primary: #adc3ce;
  --bg-color-primary-dark: #9baeb8;
  --bg-color-secondary: #aac4cd;
  --bg-new-list: #b7ccd4;
}

.nav-bar {
  background-color: var(--bg-color-primary);
}

.user-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 110, 255);
  height: 24px;
  width: 24px;
  border-radius: 999px;
  margin-top: 3px;
  border-width: 1px;
  & span {
    font-size: 12px;
    color: white;
    font-weight: bolder;
  }
}

.sidebar__icon {
  width: 32px;
  height: 32px;
  background: linear-gradient(#ae4787, #e774bb);
  display: grid;
  place-content: center;
  color: white;
  border-radius: 0.25rem;
  font-size: 20px;
  font-weight: bolder;
}

.board {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.board-nav-bar {
  background-color: var(--bg-color-secondary);
  font-size: 14px;
}

.side-bar .nav-link.active {
  background-color: #879ba5;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.new-list-container {
  width: 260px;
}

.new-list {
  background-color: var(--bg-new-list);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    background: var(--bg-new-list);
    filter: brightness(0.9);
  }
}

.list-card {
  font-size: 12px;
  cursor: grab;
  height: fit-content;

  & h6 {
    max-width: 60%;
  }
}

.list-card--closed {
  max-width: fit-content;
  height: 7.5em;
  overflow: hidden;

  & header {
    height: 100%;
    padding: 0;
    padding-bottom: 10px;
    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      & h6 {
        max-width: unset;
        order: 1;
        margin-block: 1rem;
        transform: rotate(90deg);
      }
    }
  }
}

.dragging {
  opacity: 0.75;
}

.icon {
  color: inherit;
  fill: inherit;
}
